
h1 {
    display: block;
    font-size: 1.5em;
    margin: 30px  440px;
    padding: 10px  30px;
    font-weight: bold 
}
.addContact{
        margin: 10px  490px;
        padding: 10px  30px;   
}
mat-form-field {
    width: 180px;
    padding-right: 8px;
    margin-right: 10px
}
.myForm{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 20px  330px;
    padding: 10px  30px;
}
