
mat-toolbar {
    font-size: 1.5em;
    margin: auto;
}
.addContact{
    width:100%;
    margin-top:3%
}
button {
    margin: 1% auto;
    display: block;
}
mat-form-field {
    width: 100%
}
.formContainer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
input{
    width: 100%
}
.myForm{
    min-width: 2rem;
    width: 100%;
}

.alert{
    margin:auto;
    width: fit-content;
}

 
 .mat-expansion-panel-header-title .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
